# Clerk Authentication (Get your keys from https://dashboard.clerk.com)
VITE_CLERK_PUBLISHABLE_KEY= pk_test_c2F2ZWQtZm93bC0xNjI3LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_fUOj42NAR27cprGfNdwKGGj3QGUgwPGO4VCaCvx79k

# Optional Google OAuth Client ID for Client-side/Popup Authentication
GOOGLE_CLIENT_ID=

# Server-Side Gemini API Key (if AI assisted features are enabled)
GEMINI_API_KEY=
